/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  margin: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 300px;
  margin-bottom: 10%;
  border-radius: 10px;
  align-self: center;
  background: #579c87;
  color: #fdcb46;
  font-size: 2rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px;
}
.grid .transform-title-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 450ms, opacity 400ms 150ms;
}
.grid .transform-title-menu:hover {
  transform: scale(1.15);
  opacity: 0.2;
}
.grid__card {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.grid__card--note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #fcdfdb;
  height: 550px;
  width: 400px;
  margin: 25px;
  color: #3c1218;
}
.grid__card--note .fas {
  background: linear-gradient(to left, #f8a183, #f15861);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 52px;
  height: 52px;
  font-size: 50px;
}

.grid__card--chic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #fff5fe;
  height: 550px;
  width: 400px;
  margin: 25px;
}
.grid__card--chic h2 {
  background: linear-gradient(to left, #905bfd, #c77412);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid__card--delice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #f9f9f9;
  height: 550px;
  width: 400px;
  margin: 25px;
}
.grid__card--delice h2 {
  background: linear-gradient(to left, #0887fb, #0431df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid__card--palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #fdfffd;
  height: 550px;
  width: 400px;
  margin: 25px;
}
.grid__card--palette h2 {
  background: linear-gradient(to left, #c8fe94, #3d9339);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  background: #579c87;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
.header__heading {
  color: #fdcb46;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #579c87;
  height: 80px;
}
.footer__bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  font-size: 2rem;
}
.footer a {
  color: #fdcb46;
}

.menu {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  align-items: center;
}
.menu .fas, .menu h2 {
  font-size: 50px;
}
.menu__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fcdfdb;
  width: 60%;
  margin: 50px;
  padding: 50px;
}
.menu__card--entree {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu__card--titre {
  text-align: center;
}
.menu__card--details {
  display: flex;
  justify-content: space-between;
}
.menu__card--infos {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.menu__card--prix {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 20%;
}
.menu p {
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
