@keyframes wiggle {
  0% {
    transform: rotate(0.8deg);
  }
  50% {
    transform: rotate(-0.8deg);
  }
  100% {
    transform: rotate(0.8deg);
  }
}
@-webkit-keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

@font-face {
  font-family: "ScriptME-New";
  src: url("../fonts/ScriptMe-New/ScriptME-New.ttf.woff") format("woff"), url("../fonts/ScriptMe-New/ScriptME-New.ttf.svg#ScriptME-New") format("svg"), url("../fonts/ScriptMe-New/ScriptME-New.ttf.eot"), url("../fonts/ScriptMe-New/ScriptME-New.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Devonshire-Regular";
  src: url("../fonts/Devonshire-regular/Devonshire-Regular.ttf.woff") format("woff"), url("../fonts/Devonshire-regular/Devonshire-Regular.ttf.svg#Devonshire-Regular") format("svg"), url("../fonts/Devonshire-regular/Devonshire-Regular.ttf.eot"), url("../fonts/Devonshire-regular/Devonshire-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sf_toontimeregular";
  src: url("../fonts/sftoontime_regular/SF_Toontime-webfont.eot");
  src: url("../fonts/sftoontime_regular/SF_Toontime-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sftoontime_regular/SF_Toontime-webfont.woff2") format("woff2"), url("../fonts/sftoontime_regular/SF_Toontime-webfont.woff") format("woff"), url("../fonts/sftoontime_regular/SF_Toontime-webfont.ttf") format("truetype"), url("../fonts/sftoontime_regular/SF_Toontime-webfont.svg#sf_toontimeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "croissant_oneregular";
  src: url("../fonts/Croissantone/croissantone-regular-webfont.eot");
  src: url("../fonts/Croissantone/croissantone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Croissantone/croissantone-regular-webfont.woff2") format("woff2"), url("../fonts/Croissantone/croissantone-regular-webfont.woff") format("woff"), url("../fonts/Croissantone/croissantone-regular-webfont.ttf") format("truetype"), url("../fonts/Croissantone/croissantone-regular-webfont.svg#croissant_oneregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "dancing_scriptregular";
  src: url("../fonts/Dancing-Script/dancing_script-webfont.eot");
  src: url("../fonts/Dancing-Script/dancing_script-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Dancing-Script/dancing_script-webfont.woff2") format("woff2"), url("../fonts/Dancing-Script/dancing_script-webfont.woff") format("woff"), url("../fonts/Dancing-Script/dancing_script-webfont.ttf") format("truetype"), url("../fonts/Dancing-Script/dancing_script-webfont.svg#dancing_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "kaushan_scriptregular";
  src: url("../fonts/Kaushan-Script/kaushanscript-regular-webfont.eot");
  src: url("../fonts/Kaushan-Script/kaushanscript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Kaushan-Script/kaushanscript-regular-webfont.woff2") format("woff2"), url("../fonts/Kaushan-Script/kaushanscript-regular-webfont.woff") format("woff"), url("../fonts/Kaushan-Script/kaushanscript-regular-webfont.ttf") format("truetype"), url("../fonts/Kaushan-Script/kaushanscript-regular-webfont.svg#kaushan_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "worstveld_slingregular";
  src: url("../fonts/Worstvelsling/worstveldsling-webfont.eot");
  src: url("../fonts/Worstvelsling/worstveldsling-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Worstvelsling/worstveldsling-webfont.woff2") format("woff2"), url("../fonts/Worstvelsling/worstveldsling-webfont.woff") format("woff"), url("../fonts/Worstvelsling/worstveldsling-webfont.ttf") format("truetype"), url("../fonts/Worstvelsling/worstveldsling-webfont.svg#worstveld_slingregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  margin: auto;
  margin-bottom: 130px;
}

a {
  text-decoration: none;
}

p {
  margin: 8px;
  font-size: 1rem;
}

.btn {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 300px;
  border-radius: 10px;
  background: #579c87;
  color: #fdcb46;
  font-size: 2rem;
}
.btn__one {
  opacity: 0;
  -webkit-animation: dot 1.4s infinite;
  -webkit-animation-delay: 0s;
  animation: dot 1.4s infinite;
  animation-delay: 0s;
}
.btn__two {
  opacity: 0;
  -webkit-animation: dot 1.4s infinite;
  -webkit-animation-delay: 0.2s;
  animation: dot 1.4s infinite;
  animation-delay: 0.2s;
}
.btn__three {
  opacity: 0;
  -webkit-animation: dot 1.4s infinite;
  -webkit-animation-delay: 0.3s;
  animation: dot 1.4s infinite;
  animation-delay: 0.3s;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px;
}
.grid .transform-title-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 450ms, opacity 400ms 150ms;
}
.grid .transform-title-menu:hover {
  transform: scale(1.15);
  opacity: 0.4;
}
.grid__card {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.card--note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #fcdfdb;
  height: 550px;
  width: 400px;
  margin: 25px;
  color: #3c1218;
}
.card--note .fa-music {
  background: linear-gradient(to left, #f8a183, #f15861);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 52px;
  height: 52px;
  font-size: 50px;
}
.card--note h1 {
  font-family: "Devonshire-Regular", Helvetica, Arial, sans-serif;
  font-size: 2rem;
}
.card--note h2 {
  font-family: "sf_toontimeregular", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.card--chic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #fff5fe;
  height: 550px;
  width: 400px;
  margin: 25px;
}
.card--chic h1 {
  background: linear-gradient(to left, #6e4ccc, #c67412);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "croissant_oneregular", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}
.card--chic h2 {
  font-size: 2.5rem;
  color: #c67412;
  font-weight: bold;
}

.card--delice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #f9f9f9;
  height: 550px;
  width: 400px;
  margin: 25px;
}
.card--delice h1 {
  background: linear-gradient(to left, #0687fb, #0431df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "dancing_scriptregular", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  padding: 5px;
}
.card--delice h2 {
  font-family: "worstveld_slingregular", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  color: #0887fb;
  font-weight: bold;
}

.card--palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #fdfffd;
  height: 550px;
  width: 400px;
  margin: 25px;
}
.card--palette h1 {
  background: linear-gradient(to left, #c8fe94, #3d9339);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "kaushan_scriptregular", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
}
.card--palette h2 {
  font-family: "worstveld_slingregular", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  color: #72bf56;
  font-weight: bold;
}

.menu--note {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fcdfdb;
  width: 60%;
  margin: 50px;
  padding: 80px 50px;
  color: #3c1218;
}
.menu--note .fa-music {
  background: linear-gradient(to left, #f8a183, #f15861);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 72px;
  height: 72px;
  font-size: 70px;
}
.menu--note .hr--note {
  margin: -25px;
  border: 0;
  height: 5px;
  background-color: #3c1218;
}
.menu--note h2, .menu--note h4 {
  font-family: "Devonshire-Regular", Helvetica, Arial, sans-serif;
  font-size: 4rem;
}
.menu--note h3, .menu--note p {
  font-family: "Segoe Print", Tahoma, Geneva, Verdana, sans-serif;
}
.menu--note .titre {
  font-size: 1.4rem;
  width: 35%;
  margin: auto;
  background-color: #fcdfdb;
}
.menu--note .titre--sousligne {
  display: inline;
  background: linear-gradient(to top, #3c1218 0%, #3c1218 5%, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
  font-weight: bold;
}
.menu--note .titre--sousligne:hover {
  background-size: 100% 100%;
}
.menu--note .titre-bottom {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.menu--note .titre-bottom .fa-music {
  width: 35px;
  height: 35px;
  font-size: 32px;
  margin-right: 5px;
}
.menu--note .titre-bottom h4 {
  font-size: 2.3rem;
}

.chic {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff5fe;
  width: 60%;
  margin: 50px;
  padding: 80px 50px;
}
.chic--entrees {
  color: #c67412;
}
.chic--plats {
  color: #a56799;
}
.chic--desserts {
  color: #6e4ccc;
}
.chic h2 {
  background: linear-gradient(to left, #8f5bfe, #c67412);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "croissant_oneregular", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  margin: 30px;
}
.chic .hr-chic--entrees {
  overflow: visible;
  /* For IE */
  height: 30px;
  border-style: solid;
  border-color: #c67412;
  border-width: 2px 0 0 0;
  border-radius: 20px;
}
.chic .hr-chic--entrees:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #c67412;
  border-width: 0 0 2px 0;
  border-radius: 20px;
}
.chic .hr-chic--plats {
  overflow: visible;
  /* For IE */
  height: 30px;
  border-style: solid;
  border-color: #a56799;
  border-width: 2px 0 0 0;
  border-radius: 20px;
}
.chic .hr-chic--plats:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #a56799;
  border-width: 0 0 2px 0;
  border-radius: 20px;
}
.chic .hr-chic--desserts {
  overflow: visible;
  /* For IE */
  height: 30px;
  border-style: solid;
  border-color: #6e4ccc;
  border-width: 2px 0 0 0;
  border-radius: 20px;
}
.chic .hr-chic--desserts:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #6e4ccc;
  border-width: 0 0 2px 0;
  border-radius: 20px;
}
.chic .menu__card--titre {
  margin-bottom: 0;
}
.chic .titre {
  position: relative;
  top: -45px;
  font-size: 1.5rem;
  width: 40%;
  margin: auto;
  background-color: #fff5fe;
}
.chic .titre--sousligne-entree {
  display: inline;
  background: linear-gradient(to top, #c67412 0%, #c67412 5%, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
  padding: 3px;
}
.chic .titre--sousligne-entree:hover {
  background-size: 100% 100%;
}
.chic .titre--sousligne-plat {
  display: inline;
  background: linear-gradient(to top, #a56799 0%, #a56799 5%, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
  padding: 3px;
}
.chic .titre--sousligne-plat:hover {
  background-size: 100% 100%;
}
.chic .titre--sousligne-dessert {
  display: inline;
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 5%, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
  padding: 3px;
}
.chic .titre--sousligne-dessert:hover {
  background-size: 100% 100%;
}

.delice {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f9f9f9;
  width: 60%;
  margin: 50px;
  padding: 80px 50px;
}
.delice h2 {
  background: linear-gradient(to left, #0687fb, #0431df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "dancing_scriptregular", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  margin: 30px;
  padding: 5px;
}
.delice h3, .delice p {
  font-family: "Segoe Print", Tahoma, Geneva, Verdana, sans-serif;
}
.delice .hr-delice--entrees {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #0228dd;
  border-width: 0 0 4px 0;
  border-radius: 20px;
}
.delice .hr-delice--plats {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #0670f3;
  border-width: 0 0 4px 0;
  border-radius: 20px;
}
.delice .hr-delice--desserts {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #229df9;
  border-width: 0 0 4px 0;
  border-radius: 20px;
}
.delice .titre {
  position: relative;
  top: -18px;
  width: 40%;
  margin: auto;
  font-size: 1.1rem;
  background-color: #f9f9f9;
}
.delice .titre--sousligne-entree {
  display: inline;
  background: linear-gradient(to top, #0228dd 0%, #0228dd 5%, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.delice .titre--sousligne-entree:hover {
  background-size: 100% 100%;
}
.delice .titre--sousligne-plat {
  display: inline;
  background: linear-gradient(to top, #0670f3 0%, #0670f3 5%, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.delice .titre--sousligne-plat:hover {
  background-size: 100% 100%;
}
.delice .titre--sousligne-dessert {
  display: inline;
  background: linear-gradient(to top, #229df9 0%, #229df9 5%, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.delice .titre--sousligne-dessert:hover {
  background-size: 100% 100%;
}

.palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fdfffd;
  width: 60%;
  margin: 50px;
  padding: 80px 50px;
}
.palette h2 {
  background: linear-gradient(to left, #c8fe94, #3d9339);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "kaushan_scriptregular", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  margin: 30px;
}
.palette h3, .palette p {
  font-family: "Segoe Print", Tahoma, Geneva, Verdana, sans-serif;
}
.palette .hr-delice--entrees {
  margin: -19px;
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, rgba(200, 254, 148, 0.2), #3d9339, rgba(200, 254, 148, 0.2));
}
.palette .hr-delice--plats {
  margin: -19px;
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, rgba(200, 254, 148, 0.2), #3d9339, rgba(200, 254, 148, 0.2));
}
.palette .hr-delice--desserts {
  margin: -19px;
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, rgba(200, 254, 148, 0.2), #3d9339, rgba(200, 254, 148, 0.2));
}
.palette .titre {
  width: 35%;
  margin: auto;
  font-size: 1.1rem;
  background-color: #fdfffd;
}
.palette .titre--sousligne-palette {
  display: inline;
  background: linear-gradient(to top, #3d9339 0%, #3d9339 5%, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.3s;
}
.palette .titre--sousligne-palette:hover {
  background-size: 100% 100%;
}

.header {
  background: #579c87;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
.header__heading {
  color: #fdcb46;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #579c87;
  height: 80px;
}
.footer__bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  font-size: 2rem;
}
.footer a {
  color: #fdcb46;
}
.footer a:hover {
  animation: wiggle 90ms infinite;
  animation-timing-function: linear;
}

.menu {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  align-items: center;
  margin-top: 50px;
}
.menu__card--bloc {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu__card--titre {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 25px;
}
.menu__card--details {
  display: flex;
  justify-content: space-between;
}
.menu__card--infos {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.menu__card--prix {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 15%;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
