.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 300px;
    margin-bottom: 10%;
    border-radius: 10px;
    align-self: center;
    background: $color-primary;
    color: $color-text-hf;
    font-size: map-get($font-size, titre);
    p {
        &:after {
            content:"...";
            
        }
    }
}