.btn {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 300px;
    margin-bottom: 130px;
    border-radius: 10px;
    background: $color-primary;
    color: $color-text-hf;
    font-size: map-get($font-size, titre);
    &__one {
        @include loading;
    }
    &__two {
        @include loading ($delay: 0.2s);
    }
    &__three {
        @include loading ($delay: 0.3s);
    }
}