.grid__card--note {
    @include card (#fcdfdb);
    color: $color-text-note;
    .fas {
        @include degrade-text(to left, #f8a183, #f15861);
        width: 52px;
        height: 52px;
        font-size: 50px;
    }
    h2 {
        font-family: 'Devonshire-Regular';
        font-size: map-get($font-size, titre);
    }
    h3 {
        font-family: $note-menu;
        text-transform: uppercase;
        font-size: map-get($font-size, titre-menu);
    }
}