.card--delice {
    @include card ($delice-back-color);
    h2 {
        @include degrade-text(to left, $delice-degrade1, $delice-degrade2);
        font-family: $delice-font;
        font-size: 2.5rem;
        padding: 5px;
    }
    h3 {
        font-family: $menu-font;
        font-size: 4rem;
        color: $delice-text-color;
        font-weight: bold; 
    }  
}