.card--note {
    @include card ($note-back-color);
    color: $note-text-color;
    .fa-music {
        @include degrade-text(to left, $note-degrade1, $note-degrade2);
        width: 52px;
        height: 52px;
        font-size: 50px;
    }
    h2 {
        font-family: $note-titre;
        font-size: map-get($font-size, titre);
    }
    h3 {
        font-family: $note-menu;
        text-transform: uppercase;
        font-size: map-get($font-size, titre-menu);
    }
}