.card--palette {
    @include card (#fdfffd);
    h2 {
        @include degrade-text(to left, $palette-degrade1, $palette-degrade2);
        font-family: $palette-font;
        font-size: map-get($font-size, titre-menu);
    }
    h3 {
        font-family: $menu-font;
        font-size: map-get($font-size, logo);
        color: $palette-text-color;
        font-weight: bold; 
    }
}