.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;

    .transform-title-menu {
        @include flex-column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        @include transition-zoom;
    }
    &__card {
        @include shadow-card;
    }
    
}