.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: map-get($margin, medium);

    .transform-title-menu {
        @include flex-column;
        align-items: center;
        transition: transform 450ms, opacity 400ms 150ms;
        &:hover {
            transform: scale(1.15);
            opacity: 0.2;
        }
    }
    &__card {
        @include shadow-card;
    }
}