.chic {
    @include menu-card($chic-back-color);
    
    &--entrees {
        color: $chic-entree-color;
    }
    &--plats {
        color: $chic-plat-color;
    }
    &--desserts {
        color: $chic-dessert-color;
    }
    h2 {
        @include degrade-text(to left, $chic-degrade1, $chic-entree-color);
        font-family: $chic-font;
        font-size: 2rem;
        margin: 30px;
    }
    h3 {
        font-weight: bold;
        font-size: 1.3rem;
    }
    .hr-chic--entrees {
        @include sep-chic ($chic-entree-color);
    }
    .hr-chic--plats {
        @include sep-chic ($chic-plat-color);
    }
    .hr-chic--desserts {
        @include sep-chic ($chic-dessert-color);
    }
    .menu__card--titre {
        margin-bottom: 0;
    }
    .titre {
        position: relative;
        top: -45px;
        font-size: 1.5rem;
        width: 240px;
        margin: auto;
        @include ajust-titre ($chic-back-color);
        &--sousligne-entree {
            @include sous-ligne ($chic-entree-color);
            padding: 3px;
        }
        &--sousligne-plat {
            @include sous-ligne ($chic-plat-color);
            padding: 3px;
        }
        &--sousligne-dessert {
            @include sous-ligne ($chic-dessert-color);
            padding: 3px;
        }
    }
    @media #{$x-small-screen} {
        max-width: 360px;
        .titre {
            width: 68%;
        }
    }
    @media #{$xx-small-screen} {
        min-width: 315px;
    }
}
