.delice {
    @include menu-card($delice-back-menu-color);
    h2 {
        @include degrade-text(to left, $delice-degrade1, $delice-degrade2);
        font-family: $delice-font;
        font-size: 4rem;
        margin: 30px;
        padding: 5px;
    }
    h3, p {
        font-family: $note-text;
    }
    .hr-delice--entrees {
        @include sep-delice ($delice-entree-color);
    }
    .hr-delice--plats {
        @include sep-delice ($delice-plats-color);
    }
    .hr-delice--desserts {
        @include sep-delice ($delice-dessert-color);
    }
    .titre {
        position: relative;
        top: -18px;
        width: 240px;
        margin: auto;
        font-size: 1.1rem;
        
        @include ajust-titre ($delice-back-menu-color);
        &--sousligne-entree {
            @include sous-ligne ($delice-entree-color);
        }
        &--sousligne-plat {
            @include sous-ligne ($delice-plats-color);
        }
        &--sousligne-dessert {
            @include sous-ligne ($delice-dessert-color);
        }
    }
}