.menu--note {
    @include menu-card($note-back-color);
    color: $note-text-color;
    .fa-music {
        @include degrade-text(to left, $note-degrade1, $note-degrade2);
        width: 72px;
        height: 72px;
        font-size: 70px;
    }
    h2 {
        font-family: $note-font;
        font-size: 50px;
    }
    h3 {
        font-size: 1.5rem;
        width: 200px;
        margin: auto;
        @include ajust-titre ($note-back-color);
    }
    .titre-bottom {
        display: flex;
        align-items: center;
        margin-top: 50px;
        .fa-music {
            width: 35px;
            height: 35px;
            font-size: 32px;
            margin-right: 5px;
        }
        h4 {
            font-size: 2rem;
        }
    }
}