@mixin card ($color: #ddd){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: $color;
    height: 758px;
    width: 538px;
    margin: 50px;
}

@mixin menu-card ($color: #ddd){
    display: flex;
    justify-content: center;
    background: $color;
    height: 1000px;
    width: 800px;
    margin: 50px;
}

@mixin bloc-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: map-get($margin, bloc);
    font-size: map-get($font-size, label);
}

@mixin shadow-card {
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.3))
}