@mixin card ($color: #ddd){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: $color;
    height: 550px;
    width: 400px;
    margin: 25px;
}

@mixin menu-card ($color: #ddd){
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color;
    width: 60%;
    margin: map-get($margin, large);
    padding: map-get($padding, large)
}

@mixin ajust-titre ($color: transparent){
    background-color: $color;
}

@mixin menu-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@mixin bloc-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: map-get($margin, large);
    font-size: map-get($font-size, titre);
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin shadow-card {
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.3));
}

@mixin degrade-text ($direct: to left, $color1: #eee, $color2: #333){
    background: linear-gradient($direct, $color1, $color2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

//animations
@keyframes wiggle {
    0% { transform: rotate(0.8deg); }
    50% { transform: rotate(-0.8deg); }
    100% { transform: rotate(0.8deg); }
  }

@keyframes loading {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}

//Séparateur-Menu
@mixin sep-note {
    border: 0;
    height: 5px;
    background-color: $note-text-color;
}

@mixin sep-chic {
    border: 0;
    height: 5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@mixin sep-palette {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

@mixin sep-delice ($color: $menu-delice){
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: $color;
    border-width: 0 0 4px 0;
    border-radius: 20px;
}