// color
$color-primary: #579c87;
$color-text-hf: #fdcb46;

//color-note
$note-back-color: #fcdfdb;
$note-text-color: #3c1218;
$note-degrade1: #f8a183;
$note-degrade2: #f15861;

//color-chic
$chic-back-color: #fff5fe;
$chic-entree-color: #c67412;
$chic-plat-color: #a56799;
$chic-dessert-color: #6e4ccc;
$chic-degrade1: #8f5bfe;

//color-delice
$delice-back-color: #f9f9f9;
$delice-back-menu-color:#edefef;
$delice-text-color: #0887fb;
$delice-entree-color: #0228dd;
$delice-plats-color: #0670f3;
$delice-dessert-color: #229df9;
$delice-degrade1: #0687fb;
$delice-degrade2: #0431df;

//color-palette
$palette-back-color: #fdfffd;
$palette-text-color: #72bf56;
$palette-degrade1: #c8fe94;
$palette-degrade2: #3d9339;

//color-mentions-légales
$mentions-back-color: #fdfffd;
$color-text-mentions: #4B4B4B; 

//Polices-note
$note-titre: 'Devonshire-Regular', Helvetica, Arial, sans-serif;
$note-menu: 'sf_toontimeregular', Helvetica, Arial, sans-serif;
$note-text: 'Segoe Print', Tahoma, Geneva, Verdana, sans-serif;

//Police-Chic
$chic-font: 'croissant_oneregular', Helvetica, Arial, sans-serif;

//police delice et palette
$delice-font: 'dancing_scriptregular', Helvetica, Arial, sans-serif;
$palette-font: 'kaushan_scriptregular', Helvetica, Arial, sans-serif;
$menu-font: 'worstveld_slingregular', Helvetica, Arial, sans-serif;

//Media-queries
$small-screen: "screen and (max-width: 620px)";
$x-small-screen : "screen and (max-width: 450px)";
$xx-small-screen : "screen and (max-width: 365px)";