// color
$color-primary: #579c87;
$color-secondary: #fdcb46;

//color-note
$color-text-note: #3c1218;

//color-chic
$color-entree-chic: #c67412;
$color-plat-chic: #a56799;
$color-dessert-chic: #6e4ccc;

//color-delice
$menu-delice: #0887fb;

//color-palette
$menu-palette: #72bf56;

//Polices-note
$note-font: 'Devonshire-Regular', Helvetica, Arial, sans-serif;
$note-menu: 'sf_toontimeregular', Helvetica, Arial, sans-serif;

//Police-Chic
$chic-font: 'croissant_oneregular', Helvetica, Arial, sans-serif;

//police delice et palette
$delice-font: 'dancing_scriptregular', Helvetica, Arial, sans-serif;
$palette-font: 'kaushan_scriptregular', Helvetica, Arial, sans-serif;
$menu-font: 'worstveld_slingregular', Helvetica, Arial, sans-serif;
$del-pal-text: 'ScriptME-New', Helvetica, Arial, sans-serif;


// font-size
$font-size: (
    logo: 5rem,
    titre-menu: 2.5rem,
    titre: 2rem,
    chic-titre: 1.5rem
);

//margin  
$margin: (
    large: 50px,
    medium: 25px,
    small: 10px
);

// padding
$padding: (
    large: 50px,
    medium: 25px,
    small: 10px
);

//Media-queries
$small-screen: "screen and (max-width: 540px)";
$large-screen: "screen and (min-width: 740px)";