.menu {
    @include shadow-card;
    align-items: center;
    margin-top: 50px;
    &__card--bloc {
        @include flex-column;
        width: 100%;
    }
    &__card--titre {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 25px;
    }
    
    &__card--details {
        display: flex;
        justify-content: space-between;
    }
    &__card--desserts {
        @include flex-column;
    }
    &__prix {
        font-weight: bold;
    }
}