.menu {
    @include shadow-card;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 130px;
    &__card--bloc {
        @include flex-column;
        width: 100%;
    }
    
    &__card--details {
        display: flex;
        justify-content: space-between;
    }
    &__card--infos {
        @include flex-column;
        width: 80%;
    }
    &__card--prix {
        @include flex-column;
        align-items: flex-end;
        width: 20%;
        
    }
    p {
        margin: map-get($margin, small);
    }
}