.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include shadow-card;
    
    h1 {
        font-size: map-get($font-size, label);
        margin-top: 50px;
        margin-bottom: -30px;
    }
    &__card {
        @include menu-card(#fcdfdb);
    }
    &__card-sous-titre {
        @include titre;
    }
    &__card--entree {
        @include menu-details;
    }
    p {
        margin: map-get($margin, small);
    }
    
}