.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: $color-primary;
    height: 80px;
    &__bloc {
        @include bloc-footer;
    }
    a {
        color: $color-text-hf;
        &:hover {
            animation: wiggle 90ms infinite;
            animation-timing-function: linear;
        }
    }
    @media #{$small-screen} {
        justify-content: space-around;
        a {
            margin: 0;
        }
    }
    @media #{$x-small-screen} {
        flex-direction: column;
    }
}
