.header {
    background: $color-primary;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: map-get($font-size, logo);
    &__heading {
        color: $color-secondary;
    }
}