.header {
    background: $color-primary;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    &__heading {
        color: $color-text-hf;
    }
}